/*Starter*/
html
{
    height: 100%;
}


body {
    background-color:lightgrey;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: bottom;
    background-attachment:fixed;
    background-repeat:no-repeat;
    margin:0;
    padding:0;
    height: 100%;

    display: block;
}


/* Header*/

@font-face {
    font-family: 'Exo-Regular';
    src: url('../police/Exo-Regular.otf');
}
@font-face {
    font-family: 'Exo-Thin';
    src: url('../police/Exo-Thin.otf');
}

#conteneurentete
{
    display:flex;
    width: 100%;
    height: 150px;
    box-shadow: 0 3px 100px rgb(62, 181, 230);
    background-color : darkgrey;
}

#logoentete
{
    display:flex;
    height: 100px;
    width: 100px;
    min-width: 100px;

    margin: auto;
    margin-left: 1%;


}


#imglogo
{
    height: 100%;
    width: 100%;
}

#hearthomeentete
{
    margin-left: 15px;
    height: 100%;
}

#hometech{

    margin-top: 0%;
    height: 50%;

}

#domisependessous{

    font-size: 200%;
    font-family: "Exo-Thin";
    color : lightblue;
    margin-left: 27px;
}


titrelogo
{
    line-height:85px;

    font-size: 250%;
    font-family: "Exo-Thin";
    color : lightblue;

}

#conteneur-connexion
{
    height:100%;
    width:100%;
}

#connexion
{
    display: flex;
    justify-content: flex-end;


    height:100%;
    float: right;
    width: 100%;

}



.case-vide-connexion
{
    background-color: white;
    border: none;
    border-radius: 30px;
    color: slategrey;
    text-decoration: none;
    text-align: center;
    box-shadow: none;
    box-sizing: border-box;
    cursor: text;
    margin-right: 1%;
}

.titre_connexion
{
    color: lightblue;
    font-family: "Exo-Regular";
}

.texte-connexion
{
    color: lightblue;
    font-family: "Exo-Regular";
}













/* body   */

#conteneur-body-general
{
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 100%;
    transform: translateY(0px);

}


#conteneur-body
{
    display: flex;
    justify-content: center;
    height:100%;


}



#conteneur-presentation
{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;


}

#presentation
{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 70%;
    border-right: 2px solid darkgray;
    padding: 0% 3% 0% 3% ;
}

#conteneur-inscription
{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;

}

#inscription
{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 70%;
    border-left: 2px solid darkgray;

}

#conteneur-presentation
{

}




.case-vide
{
    background-color: darkgray;
    border: none;
    border-radius: 30px;
    color: lightblue;
    margin: 2% 0% 2% 0%;
    padding: 3% 0% 3% 0%;
    text-decoration: none;
    text-align: center;
    width: 100%;
    box-shadow: none;
    box-sizing: border-box;
    cursor: text;
}

input:focus {
    outline:  none;
}

p
{
    color: slategrey;
    font-family: "Exo-Regular";
    font-size: 1.3em;
}

h1
{
    color: slategrey;
    font-family: "Exo-Regular";
}

#bouton_sans_style_accueil
{
    margin: 5% 0% 0% 0%;
    padding: 0;
    line-height: 0; /* Si ça fonctionne pas mets 0 */
    border: 0;
    background: none; /* ou transparent je sais plus... */
    font-size: 3em;
    color: steelblue;
    text-decoration: none;
    font-family: "Exo-Regular";
    cursor: pointer;
}


#presentation-vertical a:hover
{
    border-bottom: 3px solid steelblue;
}





























/*footer*/
#footer
{
    display: flex;
    bottom: 0%;
    width: 100%;
    height:75px;
    border-radius: 0px;
    background-color:darkgrey;
    -moz-box-shadow: 0 2px 1px #efefef;
    -webkit-box-shadow: 0 2px 1px #efefef;
    box-shadow: 0 2px 1px rgb(62, 181, 230);
    box-shadow: 0 3px 100px rgb(62, 181, 230);
}

@font-face
{
    font-family: 'Exo-Bold';
    src: url('Exo-Bold.otf');
}

#Footer-gauche
{
    display: flex;
    width: 100%;
    height: 100%;
    font-family: "Exo-Bold";

}

#imglogofooter
{
    height: 66px;
    width: 110px;
    margin-top: 4.5px;
    padding-left: 10px;
    padding-right: 10px;
}
#copyright,#domisep,#mention-légales
{
    padding-left: 10px;
    padding-right: 10px;

}

footer
{
    color: lightblue;
    height: 75px;
    line-height: 75px;
}
