#Titre_temp{

    display: flex;
    flex-direction: row;
    font-size: 200%;
    height: 20%;
    align-items: center;
    justify-content: center;
}

#nbretotal{
    font-size: 150%;
}

#conteneur-general-alignement{

    display: flex;
    flex-direction: row;
}



#conteneur-liste-pièces{

    font-size: 140%;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 12.5%;
}


#conteneur-info_générales{

    font-size: 150%;
    width: 40%;
    display: flex;
    flex-direction: column;
    min-height: 80%;


}

#conteneur-general-fonction-temp{

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}


#Liste_pieces_fonction_temp{

    list-style-type: none;
    display: flex;
    flex-direction: column;

}

#formulaire {

    margin-left: 12.5%;

}
#formulaire2{

    margin-left: 12.5%;
}

#conteneur_formulaire{

    flex-direction: row;
}

#temp_cible{

    float: left;
}

#affichage_moyenne{

    margin-left: 40%;
    font-size: 150%;

}

#image_maison_div{


    width: 30%;
    display: flex;

}

#affichage_moyenne{

    width: 60%;
    margin-left: 0%;
    display: flex;



}

#ligne{

    flex-direction: row;
    display: flex;
    margin-top: 2.5%;
}
#titre_partie1{

    font-size: 150%;
}
/*
#image_lumiere_eclairee{

    vertical-align: middle;
}

#image_lumiere_eteinte{

    vertical-align: middle;
}
*/