@font-face {
    font-family: 'Exo-Regular';
    src: url('http://localhost/APP/police/Exo-Regular.otf');
}
@font-face {
    font-family: 'Exo-Thin';
    src: url('http://localhost/APP/police/Exo-Thin.otf');
}

#conteneur_gauche
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    border-right: 2px solid darkgray;
    margin: 5% 0% 5% 5%;
    padding: 0% 5% 0% 0%;


}

#conteneur_droit
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    border-left: 2px solid darkgray;
    margin: 5% 5% 5% 0%;
    padding: 0% 0% 0% 5%;

}

#conteneur_bouton_haut
{
    width: 100%;
    margin-bottom: 5% ;
}

#conteneur_bouton_bas
{
    width: 100%;
    margin-top: 5% ;
}

#bouton_gestion
{
    display: flex;
    height: 230px;
    width: 100%;
    border: 0px;
    background-color: #919191;
    color: lightblue;
    font-size: 50px;
    cursor: pointer;
    border-radius: 30px;

}

#picto_capteur
{
    height: 200px;
    width: 200px;
    margin: 15px 5% 15px 0% ;
}

#picto_maison
{
    height: 100px;
    width: 100px;
    margin: 75px 50px 75px 50px ;
}

#picto_fonctionalite
{
    height: 100px;
    width: 100px;
    margin: 25px 75px 25px 75px ;
}


#texte
{
    height: 230px;
    line-height: 230px;
    font-family: Exo-Regular;


}

#titre_fonctionnalite
{
    display: flex;
    height: 150px;
    width: 100%;
    color: black;
    font-size: 50px;
}

#conteneur_bouton_fonctionalite
{
    width: 100%;
    margin-top: 5% ;
}

#bouton_fonctionalite
{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    border: 0px;
    background-color: #919191;
    color: lightblue;
    font-size: 25px;
    cursor: pointer;
    border-radius: 30px;
    font-family: Exo-Regular;
}

#texte_titre_fonctionalite
{
    height: 150px;
    line-height: 150px;
    font-family: Exo-Regular;
}