#conteneur-titre
{
	justify-content: center;
	text-align: center;
	font-size: 35px;
	color : white;
}
#bouton_sans_style2
{
	margin: 0;
	padding: 0;
	line-height: 0; /* Si ça fonctionne pas mets 0 */
	border: 0;
	background: none; /* ou transparent je sais plus... */
	font-size: 1.3em;
	text-decoration: none;
	cursor: pointer;
}